<carousel>
  <slide>
    <img src="assets/slider1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption">
			<div class="container">
				<div class="col-md-6 col-sm-8 col-xs-8 ow-pull-right no-padding">
					<h4 data-animation="animated bounceInLeft">Welcome</h4>
					<h3 data-animation="animated fadeInDown">To Our<span>University</span></h3>
					<p data-animation="animated bounceInRight">We belive nothing is more important than education.</p>
					<a href="borrower_Login.html" title="Learn More" data-animation="animated zoomInUp">
					Find my Rate <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
					<a href="borrower_Login.html" title="Learn More" data-animation="animated zoomInUp" class="compare_btn">Compare Loans<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
  </slide>
  <slide>
    <img src="assets/slider2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/slider3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/slider4.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
