<section class="quick_menus">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-4">
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
		  </div>
		  <div class="col-lg-4 col-md-4 col-sm-4">
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
			  <p><a href="#">Menu Link #1</a></p>
		  </div>
		</div>
	</div>
</section>