<div class="container testimonial2-section animated lightSpeedIn">
		<div class="section-padding"></div>
		<div class="section-header">
			<h3>What <span>our customers say</span></h3>
			<p>Users reviews are the best indicator of our success.</p>
		</div>
		<div id="testimonial2" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#testimonial2" data-slide-to="0" class="active"></li>
				<li data-target="#testimonial2" data-slide-to="1"></li>
				<li data-target="#testimonial2" data-slide-to="2"></li>
				<li data-target="#testimonial2" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="testimonialbox">
						<img src="http://18.222.143.54/vestedu/assets/images/testi_pic1.jpg" width="77" height="77" alt="testimonial">
						<p>"My experience with Vestedu has been great. I was able to save money on my student loan, they have competitive rates, excellent customer service and easy application process"</p>
						<div class="testimonial-author-box">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<h3>Ram Chandra</h3>
							<span>MBA</span>
						</div>
					</div>
				</div>
				<!-- <div class="item">
					<div class="testimonialbox">
						<img src="http://18.222.143.54/vestedu/assets/images/testi_pic2.jpg" width="77" height="77" alt="testimonial"/>
						<p>"My experience with Vestedu has been great. I was able to save money on my student loan, they have competitive rates, excellent customer service and easy application process</p>
						<div class="testimonial-author-box">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<h3>Rick Grimes</h3>
							<span>Project Manager</span>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonialbox">
						<img src="http://18.222.143.54/vestedu/assets/images/testi_pic3.jpg" width="77" height="77" alt="testimonial"/>
						<p>"My experience with Vestedu has been great. I was able to save money on my student loan, they have competitive rates, excellent customer service and easy application process</p>
						<div class="testimonial-author-box">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<h3>Rick Grimes</h3>
							<span>Project Manager</span>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonialbox">
						<img src="http://18.222.143.54/vestedu/assets/images/testi_pic4.jpg" width="77" height="77" alt="testimonial"/>
						<p>"My experience with Vestedu has been great. I was able to save money on my student loan, they have competitive rates, excellent customer service and easy application process.</p>
						<div class="testimonial-author-box">
							<i class="fa fa-quote-right" aria-hidden="true"></i>
							<h3>Rick Grimes</h3>
							<span>Project Manager</span>
						</div>
					</div>
				</div> -->
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#testimonial2" role="button" data-slide="prev">
				<p class="index"><span class="index_prev">1</span><span class="total_index">1</span></p>
				<span class="arrow_left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" href="#testimonial2" role="button" data-slide="next">
				<p class="index"><span class="index_next">1</span><span class="total_index">1</span></p>
				<span class="arrow_right" aria-hidden="true"></span>
			</a>
		</div>
		<div class="section-padding"></div>
	</div>
