<div>
	<h4 class="text-center text-uppercase blog_post_title">Latest Blog Posts</h4>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 blog_post_card">
	<h2 class="blog_post_card_heading">Heading</h2>
	<p class="blog_post_card_content">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	<p><a class="btn btn-light btn-style" href="#" role="button">Read</a></p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 blog_post_card">
	<h2 class="blog_post_card_heading">Heading</h2>
	<p class="blog_post_card_content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
	<p><a class="btn btn-light btn-style" href="#" role="button">Read</a></p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 blog_post_card">
	<h2 class="blog_post_card_heading">Heading</h2>
	<p class="blog_post_card_content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
	<p><a class="btn btn-light btn-style" href="#" role="button">Read</a></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
	  <img src="assets/testimonial-3.jpg" class="rounded" height="150" alt="Priya" />
	<h4>Priya</h4>
	<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
	  <img src="assets/testimonial-3.jpg" class="rounded" height="150" alt="Priya" />
	<h4>Priya</h4>
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
	<img src="assets/testimonial-3.jpg" class="rounded" height="150" alt="Priya" />
	<h4>Priya</h4>
	<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
  </div>
</div>