<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-percent" aria-hidden="true"></i></span>
        <h3>Low Fixed APR</h3>
        <p><strong>Lower interest rate.</strong> We promise to cut your interest cost of debt by at least 20%. Our APR (Annual Percentage Rate) is fixed throughout the payment terms. <strong>No surprises.</strong></p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <span>0</span>
        <h3>Zero Collateral</h3>
        <p><strong>No Collateral.</strong> No need to worry about putting collateral for your loan. All our loans do not need any collateral or co-signer. <strong>We believe in you.</strong></p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-cog" aria-hidden="true"></i></span>
        <h3>Easy Application Process</h3>
        <p>Quick approval and easy application process.</p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <span><i class="fa fa-users" aria-hidden="true"></i></span>
        <h3>Alumni Supported</h3>
        <p>We are trying to disrupt the traditional loan process through <strong>peer-to-peer lending platform involving school alumni.</strong></p>
      </div>
  </div>
</div>
