/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 575.98px) {
	.home_left_advertisement {
		width: 100%;
		margin: 10px 0px;
		padding-right: 0px;
	}

	.home_right_advertisement {
		width: 100%;
		margin: 10px 0px;
		padding-left: 0px;
	}

	.service_form_login {
		border: 0px !important;
		border-bottom: 1px solid #fff !important;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.home_left_advertisement {
		width: 100%;
		margin: 10px 0px;
	}

	.home_right_advertisement {
		width: 100%;
		margin: 10px 0px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

.nopadding {
	padding: 0px !important;
}

.nomargin {
	margin: 0px !important;
}

.services_card_1 {
	background-color: #424949;
	color: #FFF;
}
.services_card_2 {
	background-color: #3498DB;
	color: #FFF;
}
.services_card_3 {
	background-color: #2E86C1;
	color: #FFF;
}
.services_card_4 {
	background-color: #2C3E50;
	color: #FFF;
}
.services_card_5 {
	background-color: #48C9B0;
	color: #000;
}
.services_card_6 {
	background-color: #3498DB;
	color: #FFF;
}

.card_content {
    margin-top: 10%;
    width: 100%;
    text-align: center;
    padding: 0px 50px;
}

.img_resize {
	position: relative;
	width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.img_caption {
	position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.img_caption p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	color: #fff;
}

.home_left_advertisement {
	padding-left: 0px;
}

.home_right_advertisement {
	padding-right: 0px;
}