
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 home_left_advertisement">
      <div class="ad_section">
        <p class="text-center">Advertisement</p>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="row justify-content-center services_card_1">
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/campus.jpg" alt="" id="img1">
          <div class="img_caption">
            <p>Colleges and Universities</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center services_card_2">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/student-visa-requirement.jpg" alt="" id="img2">
          <div class="img_caption">
            <p>Student Visa Requirements</p>
        </div>
        </div>
      </div>

      <div class="row justify-content-center services_card_3">
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/degree.jpg" alt="" id="img3">
          <div class="img_caption">
            <p>Scholarships <br/>and Loans</p>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center services_card_4">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/test.jpg" alt="" id="img4">
          <div class="img_caption">
            <p>Competetitive Tests</p>
        </div>
        </div>
      </div>

      <div class="row justify-content-center services_card_5">
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/life.jpg" alt="" id="img5">
          <div class="img_caption">
            <p>Campus Life</p>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center services_card_6">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="card_content">
            <p>Verify all your documents that are necessory for your application process</p>
            <p><a class="btn btn-light btn-style" href="#" role="button">Learn More</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 nopadding">
          <img class="img-fluid img_resize" src="assets/success.jpg" alt="" id="img6">
          <div class="img_caption">
            <p>Success Stories</p>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 home_right_advertisement">
      <div class="ad_section">
        <p class="text-center">Advertisement</p>
      </div>
    </div>
  </div>