<footer class="footer-main footer2 container-fluid no-padding">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<aside class="ftr-widget about_widget">
						<a class="footer-logo" href="#" title="footer_logo"><img alt="footer_logo" src="http://18.222.143.54/vestedu/assets/images/footer_logo.png"></a>
						<p><span class="icon icon-Plaine"></span>Address : VestEdu, Inc.

San Francisco, CA</p>
						<p><span class="icon icon-Phone2"></span>Phone : <a title="5108700308" href="tel:+5108700308">(510) - 870 - 0308</a></p>
						<p><span class="icon icon-Mail"></span>Email : <a title="info@vestedu.com" href="mailto:info@vestedu.com">info@vestedu.com</a></p>
					</aside>
				</div>
				<div class="col-md-4 col-sm-6">
					<aside class="ftr-widget useful-llink">
						<h3 class="widget-title">Usefull Links</h3>
						<ul>
							<li><a href="#" title="Contact">Terms &amp; Conditions</a></li>
							<li><a href="#" title="Contact">Privacy Policy</a></li>
							<li><a href="#" title="Contact">Contact</a></li>
						</ul>
					</aside>
				</div>
				<div class="col-md-4 col-sm-6">
					<aside class="ftr-widget newsletter_widget">
						<h3 class="widget-title">News Letters</h3>
						<p>Subscribe Our Newsletter get the Important News. The Amazing Offers &amp; Inside Scoops:</p>

						<div id="newslettermessage" style="display: none;"></div>
						<form name="newsletter_subscription-form" id="ajax_form">
						 <div class="input-group">
							<input type="email" class="form-control" placeholder="Enter your email" name="emailid_ns" id="emailid_ns" required="" autocomplete="off">
							<span class="input-group-btn"><button class="btn" type="submit" title="Go">Subscribe</button></span>
						</div>
						</form>
						<ul>
							<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" title="Linkdin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Footer Bottom -->
			<div class="footer-bottom col-md-12 col-sm-12 no-padding">
				<div class="copyright no-padding">
					<span>© 2017 VestEdu, Inc.</span>
				</div>
				<nav class="navbar ow-navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar2" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="home2.html" title="Home">Home</a></li>
							<li><a href="#" title="Courses">Borrow</a></li>
							<li><a href="#" title="Events">Invest</a></li>
							<li><a href="about-page.html" title="About">About</a></li>
							<li><a href="blog-page.html" title="Blog">Blog</a></li>
							<li><a href="#" title="Contact">Contact</a></li>

						</ul>
					</div>
				</nav>
			</div><!-- Footer Bottom /- -->
		</div><!-- Container /- -->
	</footer>
