/* -- Footer Bottom */
.footer-bottom{
	border-top: 1px solid #343434;
	padding-top: 13px;
	padding-bottom: 28px;
}
.copyright{
	display: inline-block;
}
.footer-bottom span{
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0.6px;
	color: #888;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
}
.footer-bottom .ow-navigation{
	float: right;
	width: auto;
}
.footer-bottom .ow-navigation .nav.navbar-nav > li{
	margin: 0 12px;
}
.footer-bottom .ow-navigation .navbar-collapse{
	padding-right: 0;
	padding-left: 0;
}
.footer-bottom .ow-navigation .nav.navbar-nav li > a{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0.6px;
	color: #888;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
.footer-bottom .ow-navigation .nav.navbar-nav li > a:hover{
	color: #ffc722;
}
.footer2 .footer-bottom span,
.footer2 .footer-bottom .ow-navigation .nav.navbar-nav li > a{
	text-transform: capitalize;
	font-weight: 300;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}


/* -- Footer2 */

.footer2.footer-main {
	background-color: #242424;
}
.footer2.footer-main .row{
	padding-bottom: 55px;
}
.footer2 .about_widget {
	padding-right: 0;
}
.footer2 .about_widget > span{
	display: inline-block;
	width: 100%;
	color: #888;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 24px;
	letter-spacing: 0.28px;
}
.footer2 .about_widget.ftr-widget p {
	position: relative;
	padding-left: 42px;
	margin-bottom: 9px;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.42px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.footer2 .about_widget.ftr-widget p:hover a,
.footer2 .about_widget.ftr-widget p:hover span,
.footer2 .about_widget.ftr-widget p:hover {
	color: #ffc722;
}
.footer2 .about_widget p span {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 20px;
	color: #999;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.footer2 .about_widget p:first-of-type{
	margin-top: -3px;
}
.footer2 .about_widget p:first-of-type span {
	top: 5px;
}
.footer2 .about_widget p a {
	color: #999;
	text-decoration: none;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}

/* -- Widget:: UsefullLink */
.footer2 .useful-llink {
	padding-left: 72px;
}
.footer2 .useful-llink ul {
	padding-left: 0;
	margin-bottom: 0;
}
.footer2 .useful-llink ul li {
	display: inline-block;
	width: 100%;
	margin-bottom: 12px;
}
.footer2 .useful-llink ul li:last-of-type {
	margin-bottom: 0;
}
.footer2 .useful-llink ul li a{
	color: #888;
	font-size: 14px;
	text-decoration: none;
	line-height: 28px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.footer2 .useful-llink ul li a:hover{
	color: #ffc722;
	margin-left: 5px;
}

/* -- Widget:: Flickr  */
.footer2 .flickr_widget .flickr-box{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 17px;
}
.footer2 .flickr_widget .flickr-box img{
	position: absolute;
	left: 0;
	top: 0;
	border: 3px solid rgba(255,255,255,0.3);
	border-radius: 100%;
}
.footer2 .flickr_widget .flickr-box p{
	padding-left: 80px;
	color: #ccc;
	font-size: 14px;
	line-height: 28px;
	text-transform: capitalize;
}
.footer2 .flickr_widget .flickr-box p span{
	display: block;
	color: #666;
	line-height: 24px;
}

/* -- Widget:: Newsletter */
.footer2 .ftr-widget.newsletter_widget > p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	color: #888;
}
.footer2 .newsletter_widget .form-control{
	min-height: 45px;
	line-height: 45px;
	padding-right: 65px;
	background-color: #2c2c2c;
	border: none;
}
.footer2 .newsletter_widget .input-group{
	margin-top: 11px;
}
.footer2 .newsletter_widget .input-group-btn {
	position: absolute;
	right: 50px;
	top: 4px;
}
.footer2 .newsletter_widget .btn{
	min-height: 44px;
	line-height: 30px;
	padding: 5px 13px;
	font-weight: 700;
}
.footer2 .newsletter_widget ul{
	padding-left: 0;
	margin-bottom: 0;
	border-top: 1px solid #383838;
	padding-top: 22px;
	margin-top: 16px;
}
.footer2 .newsletter_widget ul li a{
	color: #949494;
	font-size: 14px;
	text-decoration: none;
	line-height: 26px;
	letter-spacing: 2.8px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right: 18px;
}
.footer2 .newsletter_widget ul li a:hover{
	color: #ffc722;
}
.footer2 .newsletter_widget ul li:last-of-type a{
	margin-right: 0;
}
.footer2 .newsletter_widget ul li{
	display: inline-block;
}
.copyright {
    display: inline-block;
}
.no-padding {
    padding: 0;
}
.about_widget p {
    display: inline-block;
}
