<div class="contactdetail-block">
		<div class="container eventblock">
			<div class="row">
			    <div class="counter col-xs-12 col-lg-3">
			      <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
			      <h2 class="timer count-title count-number" data-to="300" data-speed="1500">300</h2>
			       <p class="count-text ">Billions in total U.S. student loan debt</p>
			    </div>

			    <div class="counter col-xs-12 col-lg-3">
			      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
			      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">1,700</h2>
			      <p class="count-text ">Million Americans with student loan debt</p>
			    </div>

			    <div class="counter col-xs-12 col-lg-3">
			      <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
			      <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">11,900</h2>
			      <p class="count-text ">Average MBA Student Loan Debt</p>
			    </div>

			    <div class="counter col-xs-12 col-lg-3">
			      <i class="fa fa-money fa-2x"></i>
			      <h2 class="timer count-title count-number" data-to="157" data-speed="1500">157</h2>
			      <p class="count-text ">Student Loan Consolidation in Billions</p>
			    </div>
			  </div>
	</div>
</div>
