<div class="container eventblock">
		<div class="section-padding"></div>
		<div class="row">
			<div class="col-md-5 col-sm-12 animated fadeInLeft">
				<div class="eventcourse-categories">
					<div class="section-header">
						<h3>Advantages with <span>VestEdu...</span></h3>
					</div>
				</div>
				<div class="video-block video-small">
					<img src="assets/wht.png" alt="wht">
				</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="event-section event2-section">
					<div class="event-block">
						<div class="event-box animated fadeInRight">
							<div class="eventcontent-box">
								<span class="event-index">01</span>
								<div class="event-meta">
									<p>
										Very focused risk pool, MBA from tier 1,2 &amp;3 schools, MS in Finance &amp; MS in STEM; <strong>Smart people make smart choices and we believe in them.</strong>
									</p>
								</div>
							</div>
							<img src="assets/event_sec1.jpg" alt="event2.1" width="200" height="130">
						</div>
						<div class="event-box animated fadeInRight">
							<div class="eventcontent-box">
								<span class="event-index">02</span>
								<div class="event-meta">
									<p>
										Beside the institutional investors, we link Alumni from the respective schools to be the investors. We create opportunity for our investors to earn <strong>10x better return compared to money market rate, invest in smart people and give back to community.</strong>
									</p>
								</div>
							</div>
							<img src="assets/event_sec2.jpg" alt="event2.1" width="200" height="130">
						</div>
						<div class="event-box animated fadeInRight">
							<div class="eventcontent-box">
								<span class="event-index">03</span>
								<div class="event-meta">
									<p>
										<strong>We are fully committed to reduce student debt.</strong> We pledge to stand by the students and help them to be successful in life (through our partnerships with mentoring and coaching platforms) and this way we plan to reduce the investment risks for our investors (on our loans).
									</p>
								</div>
							</div>
							<img src="assets/event_sec3.jpg" alt="event2.1" width="200" height="130">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
