img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.section-header h3 {
    color: #222;
    font-size: 32px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 17px;
    word-wrap: break-word;
}
.section-header p {
    color: #777;
    font-size: 15px;
    letter-spacing: 0.30px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    margin: 0 0 10px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.section-padding {
    padding-top: 20px;
    padding-bottom: 30px;
}
.section-header h3 span {
    color: #01aeef;
}


/* -- min-width: 1200 */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* -- min-width: 992 */
@media (min-width: 992px) {
	/* -- Footer Main */
	.footer-main .col-md-6:nth-child(2n+1){
		clear: both;
	}
	.footer-main.footer2 .col-md-3:nth-child(4n+1) {
		clear: both;
	}
}

/* -- min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* -- Footer Main */
	/* -- Wiget:: About */
	.about_widget ul li a{
		margin-right: 5px;
	}

	/* -- Wiget:: UpcomingEvent */
	.upcoming-eventbox ul li{
		margin-right: 10px;
	}

	/* -- Footer2 */
	.footer2 .about_widget.ftr-widget p{
		padding-left: 35px;
	}
	.footer2 .useful-llink{
		padding-left: 40px;
	}

}

/* -- max-width: 991 */
@media (max-width: 991px) {
	/* -- Menu Block */
	/* -- Menu Search */
	.menu-block .menu-search{
		right: 85px;
		top: 18px;
	}
	.menu-block .menu-search::before{
		width: 0;
	}
	.menu-search .sb-search.sb-search-open .sb-search-input{
		top: 35px;
		width: 230px;
	}
	.menu-block.navbar-fixed-top .menu-search{
		top: 15px;
	}
	.menu-block.navbar-fixed-top .menu-search .sb-search.sb-search-open .sb-search-input{
		top: 40px;
	}

	/* -- Footer Main */
	.footer-main .col-md-6:nth-child(2n+1){
		clear: both;
	}

	/* -- Widget:: About */
	.about_widget ul{
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	/* -- Widget:: UpcomingEvent */
	.upcoming-eventbox > a{
		float: left;
	}

	/* -- Footer Bottom */
	.footer-bottom{
		padding-top: 0;
		padding-bottom: 7px;
	}
	.footer-bottom span{
		line-height: 50px;
	}
	.footer-bottom .ow-navigation{
		position: relative;
		margin-top: -50px;
		width: 100%;
	}
	.footer-bottom .ow-navigation .nav.navbar-nav > li,
	.footer-bottom .ow-navigation .nav.navbar-nav li > a{
		margin: 0;
	}

	.footer-bottom .ow-navigation .navbar-collapse > ul > li > a{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	/* -- Footer2 */
	.footer2.footer-main .col-md-3:nth-child(2n+1){
		clear: both;
	}
	.footer2 .useful-llink{
		padding-left: 0;
	}
	.footer2 .about_widget.ftr-widget p{
		margin-bottom: 12px;
	}
	/* -- PageBanner */
	.pagebanner h3{
		font-size: 25px;
	}
}

/* -- max-width: 767 */
@media (max-width: 767px) {
	/* -- Top Header */
	.topheader-left{
		width: 60%;
	}
	.topheader-right{
		width: 40%;
	}
	/* -- Footer Main */
	.footer-main .row {
		padding-bottom: 0;
		padding-top: 30px;
	}
	.footer-main .row
	/* -- Widget:: About */
	.about_widget{
		padding-right: 5px;
	}
	.about_widget ul{
		display: inline-block;
		width: auto;
		text-align: center;
	}

	/* -- Widget:: UpcomingEvent */
	.upcoming-eventbox > a{
		float: right;
	}
	/* -- PageBanner */
	.pagebanner h3{
		font-size: 25px;
		width: 100%;
		text-align: center;
	}
	.pagebanner .breadcrumb{
		display: inline-block;
		float: none;
		width: 100%;
		margin-top: 25px;
		text-align: center;
	}
}

/* --  max-width: 639 */
@media (max-width: 639px) {
	/* -- Top Header */
	.topheader-left{
		width: 72%
	}
	.topheader-right{
		width: 28%;
	}
	.topheader-left a,
	.topheader-right a{
		font-size: 11px;
	}
	.topheader-left a{
		margin-right: 5px;
		padding-right: 15px;
	}
	.topheader-right a{
		margin-right: 5px;
		padding-right: 5px;
	}

	/* -- Widget:: UpcomingEvent */
	.upcoming-eventbox ul li {
		margin-right: 8px;
	}

	/* -- PageBanner */
	.pagebanner h3{
		font-size: 20px;
	}
}

/* --  max-width: 479 */
@media (max-width: 479px) {
	/* -- Top Header */
	.top-header{
		line-height: 35px;
	}
	.topheader-left,
	.topheader-right {
		width: 100%;
		text-align: center;
	}
	.topheader-left a {
		font-size: 11px;
		padding-right: 11px;
		margin-right: 5px;
	}
	.topheader-left a i{
		margin-right: 5px;
		font-size: 20px;
	}
	.topheader-right{
		float: none;
	}

	/* -- widget:: About */
	.about_widget ul{
		width: 100%;
	}

	/* -- widget:: Newsletter */
	.newsletter_widget .input-group{
		padding: 4px 0;
	}

	/* -- widget:: UpcomingEvent */
	.upcomingevent_widget{
		padding-right: 5px;
	}
	.upcoming-eventbox > a{
		float: left;
	}

	/* -- Footer Bottom */
	.footer-bottom span{
		font-size: 10px;
	}

	/* -- PageBanner */
	.pagebanner-content{
		margin-top: 130px;
	}
	.pagebanner h3{
		font-size: 18px;
	}
}
