.nopadding {
	padding: 0px !important;
}

.nomargin {
	margin: 0px !important;
}

.btn-style {
	border-radius: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.ad_section {
	background-color: lightgrey;
	height: 100%;
	padding: 10px;
}