<div class="container marketing">

  <div class="row justify-content-center services_content_img">
    <div class="col-lg-12 col-md-12 col-sm-12 nopadding">
      <img class="img-fluid services_img_resize" src="assets/campus.jpg" alt="" id="img1">
      <div class="services_img_caption">
        <p>{{page_content.page_title}}</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center services_content_section">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <div class="ad_section">
        <p class="text-center">Advertisement</p>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 nopadding services_content">
      <div>
        <p>{{page_content.paragraph_1}}</p>

        <p>Erat pellentesque adipiscing commodo elit at imperdiet dui. Nisi porta lorem mollis aliquam ut porttitor. Fermentum
          posuere urna nec tincidunt praesent semper feugiat nibh. Vitae semper quis lectus nulla at volutpat diam ut. Aliquet
          sagittis id consectetur purus ut faucibus pulvinar. Libero enim sed faucibus turpis. Urna condimentum mattis pellentesque
          id nibh. Ultricies tristique nulla aliquet enim tortor at auctor. Massa placerat duis ultricies lacus sed turpis.
          Rutrum tellus pellentesque eu tincidunt tortor. Id porta nibh venenatis cras. Eu feugiat pretium nibh ipsum consequat
          nisl vel. Sit amet consectetur adipiscing elit ut aliquam. Bibendum enim facilisis gravida neque convallis a cras
          semper auctor. Elementum sagittis vitae et leo duis ut diam. Sed blandit libero volutpat sed cras. Et tortor at
          risus viverra adipiscing. Pharetra massa massa ultricies mi quis hendrerit dolor.</p>

        <p>Augue neque gravida in fermentum. Consectetur a erat nam at lectus urna duis convallis convallis. Eget velit aliquet
          sagittis id consectetur. Ornare quam viverra orci sagittis. Vulputate enim nulla aliquet porttitor lacus luctus
          accumsan tortor posuere. Et magnis dis parturient montes nascetur ridiculus mus. Luctus accumsan tortor posuere
          ac ut consequat semper. Augue ut lectus arcu bibendum. Duis ut diam quam nulla porttitor massa id neque. Egestas
          quis ipsum suspendisse ultrices. Adipiscing elit duis tristique sollicitudin nibh sit amet. Egestas pretium aenean
          pharetra magna. Justo laoreet sit amet cursus sit amet dictum sit amet.</p>
      </div>

      <div class="">
        <img class="img-fluid services_content_img" src="assets/visa.jpg" alt="" id="img2">
        <!-- <div class="services_content_img_caption">
                    <p>Colleges and Universities</p>
                </div> -->
      </div>

      <div class="service_form_content">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 service_form_login">
            <div class="fb_login_button">
              <button class="btn btn-primary">
                <i class="fa fa-facebook"></i> Sign Up with Facebook</button>
            </div>
            <div class="google_login_button">
              <button class="btn btn-light">
                <i class="fa fa-google"></i> Sign Up With Google</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 service_form_input">
            <form>
              <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="pwd">PASSWORD:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="form-group">
                <label for="confpwd">CONFIRM PASSWORD:</label>
                <input type="password" class="form-control" id="confpwd">
              </div>
              <button type="submit" class="btn btn-primary">SIGN UP</button>
            </form>
          </div>
        </div>
      </div>

      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Aliquet bibendum enim facilisis gravida neque convallis. Neque gravida in fermentum et sollicitudin ac
          orci. Porttitor leo a diam sollicitudin. Massa sed elementum tempus egestas sed sed risus pretium quam. Eu consequat
          ac felis donec. Eget egestas purus viverra accumsan in nisl. Risus commodo viverra maecenas accumsan lacus vel
          facilisis. Massa id neque aliquam vestibulum morbi blandit cursus. Ut lectus arcu bibendum at. Donec ac odio tempor
          orci dapibus ultrices. Ultrices dui sapien eget mi proin sed. Velit euismod in pellentesque massa. Amet nisl purus
          in mollis. Diam in arcu cursus euismod quis. Gravida rutrum quisque non tellus. Ultrices eros in cursus turpis
          massa. Justo nec ultrices dui sapien eget mi proin sed. Et malesuada fames ac turpis egestas. Feugiat scelerisque
          varius morbi enim nunc.</p>
      </div>

    </div>
  </div>

</div>
<!-- /.container -->